{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.price) }}
    <button type="submit" class="btn-success">envoyer</button>
    {{ form_end(form) }}

{% endblock %}